<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../css/product/detail.css">
</head>

<body>
    <tpl>
        <table>
            <caption>table title and/or explanatory text</caption>
            <thead>
                <tr>
                    <th>header1213</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>data</td>
                </tr>
            </tbody>
        </table>
    </tpl>
</body>

</html>
